.App-bg {
    background-image: url('./images/gplay.png');
    background-color: #0020ed;
    height: 700px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container {
    height: 400px;
    width: fit-content;
    display: flex;
    background-color: #ced3f0;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    align-self: auto;
    justify-items: center;
    box-shadow: 6px 6px 20px 12px hsl(174, 94%, 48%);
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 2%;

}

/* .header {
    display : "flex";
    height: auto;
    width: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #ced3f0;
    margin: 10px;
    flex-direction: column;
} */

.footer{
    display : "flex";
    height: auto;
    width: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #ced3f0;
    margin: 10px;
    flex-direction: row;
    padding: 10px;
    flex-grow: inherit;
    justify-content: space-around;
}

 .question-form > .submit{
    width: 40%;
    border: none;
    background-color: rgb(168, 164, 169);
    border-radius: 5px;
    height: 30px;
    padding: 7px;
    border-width: 2px blue;
    margin-top: 50px;
    align-items: center;
    cursor: pointer;
    align-items: center;
    margin-left: 30%;
}
.submit:hover {
    background-color: rgb(150, 183, 210);
  }

.container .radio{
   margin: 10px;
   display: block;
   justify-content: left;

}


.container > .qst{
    margin-left:10px;
}


 

.start {
    width: 30%;
    border: none;
    background-color: rgb(135, 134, 147);
    border-radius: 5px;
    height: 30px;
    padding: 7px;
    border-width: 2px blue;
    margin-top: 50px;
    align-items: center;
    cursor: pointer;
    margin-bottom: 15px;
   
}

.start:hover {
    background-color: rgb(150, 183, 210);
  }

.h1 {
    margin: 10px;;
	color: #cdcae8;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 20px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 0px #777;

}